/* padding & margin */
$gutter__x: 2rem;
$gutter__y: 1rem;
$gutter__card: 1rem;

// badge
$badge__margin: 4px;
$badge__padding: 0.5rem;

/* color */

// header
$color__header: hsl(0, 0%, 100%);
$color__header__hover: hsla(0, 0%, 100%, 0.7);
$bg__header: hsl(213, 53%, 64%);
$bg__header__search: hsl(220, 93%, 38%);

// sidebar
$bg__sidebar: hsl(0, 0%, 100%);
$border__sidebar: hsl(207, 16%, 87%);

// badges
//gs 25 편의점 이용 색상은 블루 컬러를 사용 가독성을 위해 일단 오렌지 컬러로 함.
//7-eleven 메인 컬러를 오렌지 대신 레드 컬러로 사용 다만 보색대비 이므로 쨍할 시 오렌지 컬러 사용이 좋아 보임.
$color__cu: hsl(86, 54%, 51%);
$color__gs: hsl(29, 89%, 54%); // 204 100% 37 블루 컬러
$color__seven: hsl(356, 95%, 46%); // 31 100% 47% 오렌지 컬러
$color__mini: hsl(219, 75%, 35%);
$color__emart: hsl(44, 100%, 55%);
$bg__cu: hsl(286, 54%, 37%);
$bg__gs: hsl(176, 100%, 33%);
$bg__seven: hsl(157, 79%, 28%);
$bg__mini: hsl(41, 97%, 54%);
$bg__emart: hsl(231, 11%, 34%);
$text_shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

// section
$bg__section: hsl(204, 33%, 97%);

// product
$color__event: hsl(0, 0%, 100%);
$bg__product: hsl(0, 0%, 100%);
$bg__event__opo: hsl(125, 63%, 52%);
$bg__event__tpo: hsl(256, 78%, 63%);

// reusable
$bg__dim: hsla(0, 0%, 0%, 0.6);

$color_slide_close_btn: rgba(0, 0, 0, 0.5);
$hover_slide_close_btn: hsl(0, 100%, 50%);

/* breakpoint */
$breakpoint__mobile_max: 600px;
$breakpoint__tablet_min: 601px;
$breakpoint__tablet_max: 1181px;
$breakpoint__desktop_min: 1182px;

/* border */

// badge_border
$badge_border_radius: 30px;

// product_border
$product_border_radius: 30px;
$product_border_color: linear-gradient(to right, $color__cu, $bg__cu);

/* font */

// badge
$badge__font_size: 0.875rem;
